@import "tailwindcss";

:root {
  --plum:       #513550;
  --plum-mid:   #745E73;
  --mauve:      #D3BCC5;
  --lavender:   #EBE1E5;
  --cream:      #FCFAFB;
  --cream-dark: #F5EFF1;
  --dark:       #1a1a1a;
}

@theme inline {
  --color-plum:       #513550;
  --color-plum-mid:   #745E73;
  --color-mauve:      #D3BCC5;
  --color-lavender:   #EBE1E5;
  --color-cream:      #FCFAFB;
  --color-cream-dark: #F5EFF1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cream);
  color: var(--dark);
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--lavender); }
::-webkit-scrollbar-thumb { background: var(--plum-mid); border-radius: 3px; }
